.page-header {
	width: 1100px;
	padding: 10px;
	margin: auto;
	/*outline: 1px solid black;*/
}

/*--------------LOGO--------------*/
.logo-link {
	float: left;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 30px;
	color: #555252;
}
.logo-link::first-letter {
	font-weight: 700;
  	color: #1abc9c;
}


/*--------------LOGO--------------*/
.menu {
	float: right;
	list-style: none;
	font-size: 16px;
	margin-bottom: 100px;
}
/*-----first link color*/
.menu .link-color a {
	color: #1abc9c;
}
/*-----first link color*/


.menu-item {
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}
.menu-item:first-child {
  margin-left: 0;
}

.menu-link {
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 14px;
	font-weight: 700;
}



/*.menu-link:hover{
  	color: #1abc9c;
}*/

